div{
    width: 800px;
    margin-top: 30px;
    margin: auto;
}

a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
}

#para1{    
    font-size: 15px;
    color: black;
    font-weight: 500;
}